.review {
  display: flex;
  gap: 24px;
  margin-bottom: 12px;
}

.avatar {
    flex-shrink: 0;
    height: 60px;
    width: 50px;
    border-radius: 8px;
}

.header {
  margin-bottom: 12px;
}

.content {
    font-size: 14px;
}
