:root {
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background: linear-gradient(
    67deg,
    rgb(27, 24, 56) 0%,
    rgb(35, 31, 73) 32%,
    rgb(49, 43, 97) 54%,
    rgb(65, 60, 135) 71%,
    rgb(27, 24, 56) 95%
  );
  background-repeat: no-repeat;
  color-scheme: light dark;
  color: #c0c0c0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

body {
  margin: 0;
  padding: 0;

}
