.casts-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 24px;
  text-align: center;
}

.list-item {
  width: calc((100% - 6 * 12px) / 7);
}

.img {
  border-radius: 8px;
  height: 250px;
  margin-bottom: 12px;
}

.actor {
  font-family: 'Passion One', sans-serif;
}

.view-button {
  display: block;
  font-family: 'Passion One', sans-serif;
  font-size: 20px;
  min-width: 150px;
  padding: 10px 12px;
  margin: 0 auto;
  border: transparent;
  outline: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #c0c0c0;
  background-color: rgba(49, 43, 97, 0.4);
}
